VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,2,0,0
  PRODUCTVERSION 1,2,0,0
  FILEFLAGSMASK  0x3fL
  FILEFLAGS 0x0L
  FILEOS 0x40004L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "www.mikekohn.net" 
      VALUE "FileDescription", "Unzip DLL" 
      VALUE "FileVersion",  "2015-08-15" 
      VALUE "InternalName", "kunzip" 
      VALUE "LegalCopyright", "Copyright 2005-2015 - Michael Kohn / http://www.mikekohn.et/" 
      VALUE "OriginalFilename", "kunzip" 
      VALUE "ProductName", "kunzip - by Michael Kohn / mike@mikekohn.net" 
      VALUE "ProductVersion", "2015-08-15" 
      VALUE "Comments", "http://www.mikekohn.net/  mike@mikekohn.net" 
    END
  END
END


